.landingpage {
    background-color: black;
    display: none;
    padding: 0;
}

.dots {
    width: 96%;
    margin-top: -40vw;
    margin-left: 1em;
    z-index: 2;
    position: relative;
}

.polygons {
    width: 20%;
    position: relative;
    margin-top: -27vw;
    z-index: 2;
}

.banner2 {
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    .landingpage {
        display: block;
    }
}